body {
    font-family: "Jockey One", sans-serif;
    background: linear-gradient(180deg,#F0FAFB,#81C3FD);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
}

.box {
    background-color: #627584 ;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(157, 19, 237, 0.1);
    width: 400px;
    text-align: center;
    margin-left: 480px;
    position: relative;
}


h1 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #ffffff;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
}


.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.inputBox {
    margin-top: 30px;
    text-align: center;
}

.inputBox label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #333;
    font-size: 16px;
}

.inputBox input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px
}


button {
    width: 100%;
    padding: 10px;
    background-color: #2a3643;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #519eeb;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #eef6ff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
