/* Reset CSS */
body, h1, h2, p, div, form, input, button, img, audio {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jockey One", sans-serif;

}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background: linear-gradient(180deg,#FEF3E2,#FA4032);
    max-height: 200vh;
}

/* Header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

/* Profile Picture Section */
.profile-picture {
    text-align: center;
    margin-bottom: 30px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ccc;
    object-fit: cover;
}

.profile-picture form {
    margin-top: 10px;
}

.profile-picture input[type="file"] {
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.profile-picture button {
    background-color: #FAB12F;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-picture button:hover {
    background-color: #FEF3E2;
}

/* Profile Info */
.profile-info {
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
}

.profile-info p {
    margin-bottom: 10px;
}

/* Liked Sections */
.liked-section {
    margin-bottom: 30px;
}

.liked-section h2 {
    background-color: #FAB12F;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.artist-item, .song-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artist-item p, .song-item p {
    flex: 1;
    margin: 0;
    font-size: 4vh;
}

.artist-item img {
    margin-right: 10px;
    width: 150px; /* Sesuaikan ukuran */
    height: 150px;
    aspect-ratio: 1 / 1; /* Membuat gambar berbentuk persegi */
    object-fit: cover;
    display: block;
    border-bottom: 2px solid #ddd;
}
.song-item img {
    margin-right: 10px;
    width: 150px; /* Sesuaikan ukuran */
    height: 150px;
    aspect-ratio: 1 / 1; /* Membuat gambar berbentuk persegi */
    object-fit: cover;
    display: block;
    border-bottom: 2px solid #ddd;
}
/* Audio Player */
.song-item audio {
    margin-left: 15px;
    flex: 0 0 auto;
    border: 2px solid #e6e614; /* Memberikan border */
    border-radius: 30px; /* Membuat sudut membulat */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Memberikan bayangan */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Responsive Design */
@media (max-width: 768px) {
    .artist-item, .song-item {
        flex-direction: column;
        text-align: center;
    }

    .song-item audio {
        margin: 10px 0 0 0;
    }
}
